
 h1 {
    color: blue;
  }

 .top{
 width: 100%;
 padding-top: 10px;
 padding-left: 10px;
 padding-bottom: 15px;
 border-bottom: 1px solid #000;
  }


  .haut{
 text-align: left;
 display:inline;
  }

 .sign{
 display:inline;
 float: right;
 }

 .titre {
     text-align: center;
 }

 p{
     padding: 10px;
 }

 a:link
 {
  text-decoration:none;
 } 
